%div{:class => 'profile'}
	%a{:href => 'img/profile.jpg', :target => '_blank'}
		%img{:src => 'img/profile.jpg', :class => 'img'}

%p{:class => 'profile'}
	Lic. Paris Emmanuel Vazquez Venzor 
	%br
	Administrador y desarrollador de sitios web
	%br
	Creador de este sitio web, fundador de Perix enterprise